<style>
    .header {
        --background-color: rgba(0, 0, 0, 0);
        --default-color: #ffffff;
        --heading-color: #ffffff;
        color: var(--default-color);
        background-color: black;
        padding: 20px 0;
        transition: all 0.5s;
        z-index: 997;
    }
</style>

<section>
    {{#if orders}}
    <div class="container my-5">
        <h4 class="mb-3">My Orders</h4>
        <div class="table-responsive">
            <table class="table table-bordered" id="table">
                <thead class="table-dark">
                    <tr class="align-middle">
                        <th scope="col">No.</th>
                        <th scope="col">Delivery Address</th>
                        {{!-- <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th> --}}
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Delivery Status</th>
                        <th scope="col">Cancel</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                    <tr class="align-middle">
                        <th scope="row">{{incremented @index}}</th>

                        {{!-- <td>{{this.orderObject.date}}</td> --}}
                        <td>{{this.orderObject.deliveryDetails.Address}}</td>
                        {{!-- <td>{{this.orderObject.deliveryDetails.pincode}}</td>
                        <td>{{this.orderObject.deliveryDetails.mobile}}</td> --}}
                        <td>{{this.orderObject.totalAmount}}/-</td>
                        <td>{{this.orderObject.paymentMethod}}</td>
                        <td>{{this.orderObject.status}}</td>
                        <td>
                            <a href="/cancel-order/{{this._id}}"
                                onclick="return confirm('Are You Sure to Cancel This Order ?')"
                                class="btn btn-danger">Cancel</a>
                        </td>
                        <td>
                            <a href="/view-ordered-products/{{this._id}}" class="btn btn-primary">View Product</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="container mt-5">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">You Have Ordered Nothing!</h4>
            <hr>
            <p class="mb-0">You need to Order soemthing from the Shopping Cart/Cart.</p>
        </div>
        <div class="row">
            <a href="/" class="btn btn-primary">Add Products</a>
        </div>
    </div>
    {{/if}}
</section>