<style>
    .header {
        --background-color: rgba(0, 0, 0, 0);
        --default-color: #ffffff;
        --heading-color: #ffffff;
        color: var(--default-color);
        background-color: black;
        padding: 20px 0;
        transition: all 0.5s;
        z-index: 997;
    }
</style><br>
<section>
    <div class="container mt-5">
        <div class="card shadow p-4">
            <form id="checkout-form">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Enter Shipping details</h2><br>
                        {{#if user}}
                        <div>
                            <label for="">Name</label>
                            <input type="text" name="Name" id="address" value={{user.Name}} class="form-control mb-3">

                            <label for="">Email</label>
                            <input type="text" name="Email" id="address" value={{user.Email}} class="form-control mb-3">

                            <label for="">Phone</label>
                            <input type="text" name="Phone" id="address" value={{user.Phone}} class="form-control mb-3">

                            <label for="">Address</label>
                            <input type="text" name="Address" id="address" value={{user.Address}}
                                class="form-control mb-3">

                            <label for="">Pincode</label>
                            <input type="text" name="Pincode" id="address" value={{user.Pincode}}
                                class="form-control mb-3">

                            <label for="">District</label>
                            <input type="text" name="District" id="address" value={{user.District}}
                                class="form-control mb-3">


                            <input type="text" name="userId" value="{{user._id}}" hidden>
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-md-4">
                        <div class="container mt-5 ml-5 card p-4 shadow">
                            <h5 class="mt-4">Total amount: Rs. {{total}}</h5>
                            <hr>
                            <div class="payment">
                                <p>Payment Method</p>
                                <label class="radio-inline">
                                    <input type="radio" name="payment-method" value="COD" checked> Cash on delivery
                                </label>
                                <label class="radio-inline mt-2">
                                    <input type="radio" name="payment-method" value="ONLINE"> Online payment
                                </label>
                                <button class="btn btn-primary float-right mt-4" type="submit">Checkout</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>
<style>
    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
    }

    .payment {
        padding-bottom: 30px;
    }
</style>

<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $("#checkout-form").serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-placed'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_8NokNgt8cA3Hdv", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Shopping Cart",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-placed'
                } else {
                    alert("Payment failed")
                }
            }
        })
    }
</script>