<main id="main" class="main">

    <section>
        <div class="container mt-2">
            <a href="/staff/all-orders" class="btn btn-dark btn-sm">Back</a>
            <div class="row g-0 mt-5">
                {{#each products}}
                <div class="col-lg-4">
                    <div class="card mx-auto" style="width: 16rem;">
                        <img src="/images/product-images/{{this.product._id}}.png" class="card-img-top p-5"
                            alt="phone-image" style="height: 17rem;">
                        <hr class="text-secondary">
                        <div class="card-body pb-1">
                            <div class="" style="display: flex; justify-content: end;">
                                <div class="" style="margin-right: auto;">
                                    <h5 class="card-title">{{this.product.iname}}</h5>
                                    <p class="card-text"><small>₹{{this.product.Price}}/-</small></p>

                                </div>

                            </div>
                            <div class="" style="margin-right: auto;">
                                <h6 class="card-title">Quantity: {{this.quantity}}
                                </h6>
                            </div>
                            <p class="card-text">{{this.product.Description}}</p>
                            {{!-- <div class="row">
                                <button onclick="cancelProduct('{{this._id}}')" class="btn btn-danger">
                                    Cancel Product</button>
                            </div> --}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>